@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

@theme {
  --default-font-family: "Plus Jakarta Sans";
}

.album-display {
  background-color: #121212;
}

.album {
  width: 300px;

  @media screen and (max-width: 768px) {
    width: 250px;
  }
}

.spotify-btn {
  background-color: #68d570;
  width: 300px;

  @media screen and (max-width: 768px) {
    width: 75%;
  }
}

.guest-btn {
  background-color: white;
  width: 300px;

  @media screen and (max-width: 768px) {
    width: 75%;
  }
}

.game-info {
  color: #b9b9b9;
}

.join-code {
  background-color: transparent;
  border-bottom: 2px solid #6a6a6a;
  width: 231px;

  @media screen and (min-width: 768px) {
    width: 100%;
  }
}
