@import "tailwindcss";

.album-display {
    background-color: #121212;
}

.album {
    width: 300px;
  
    @media screen and (max-width: 768px) {
      width: 250px;
    }
}  

.page-title { /*remove after finishing song rating page*/
  font-size: 32px;
  color: white;
}

.records { /*change this, just trying to get it to show up atm*/
  width: 500px;
}